# ----------------------------
# Python cache and compiled files
# ----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# ----------------------------
# Jupyter Notebook checkpoints
# ----------------------------
.ipynb_checkpoints/

# ----------------------------
# Virtual environments
# ----------------------------
venv/
env/
.venv/

# ----------------------------
# Data files
# ----------------------------
data/raw/
data/processed/

# ----------------------------
# Logs
# ----------------------------
*.log

# ----------------------------
# OS-specific files
# ----------------------------
.DS_Store
Thumbs.db

# ----------------------------
# VS Code settings
# ----------------------------
.vscode/

.env